{#{% extends 'base.html.twig' %}#}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Autopark{% endblock %}</title>

    {% block stylesheets %}
        <link  href="{{ asset('assets/css/sign-up.css') }}" rel="stylesheet" />
    {% endblock %}

    {% block javascripts %}

    {% endblock %}
</head>
<body>
{% block body %}

<div>

    <img id="" src={{ asset('assets/images/parking.png') }} alt="" >

</div>

<form action="" method="">
{#    {{ form_widget(formClient) }}#}
{#    <input type="submit" value="tryme">#}

{{ form_start(form) }}
<div class="box">
    <div class="form">
        <h2>Sign Up</h2>
        <div class="inputBox">
{{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}

            <i></i>
        </div>
        <div class="inputBox">
{{ form_row(form.password.first, {'attr': {'class':
                                    'form-control'}}) }}
            <i></i>
        </div>
        <div class="inputBox">
{{ form_row(form.password.second, {'attr': {'class':
                    'form-control'}}) }}
            <i></i>
        </div>
        <div >
            <div class="links">
                <br>
                <br>      <br><br>

                <a href="{{ path('app_login') }}">Go to Log In</a>
            </div>

            <input type="submit" value="Register" class="c">
                <i ></i>
            </input>
        </div>

{{ form_end(form) }}
    </div>
</div>
</form>
{#            </div>#}
{#        </div>#}
{#    </div>#}
{% endblock %}